on:
  push:
    paths-ignore:
      - "*.md"
      - "*.sh"
      - "*/fastlane/*"
      - ".github/*"
      - ".vscode/*"
      - ".run/*"
      - "scripts/*"
    branches:
      - master
  pull_request:
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
name: Build
jobs:
  build:
    permissions:
      pull-requests: read
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        build: [apk, ipa]
        exclude:
          - os: ubuntu-latest
            build: ipa
          - os: macos-latest
            build: apk

    name: Build
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Environment
        uses: ./.github/actions/setup_build
      - name: Pre Build Tasks
        uses: ./.github/actions/pre_build
      - name: get Version
        id: version
        uses: ./.github/actions/version
      - name: Setup Firebase Secrets
        id: firebase
        uses: ./.github/actions/place_secrets_files
        with:
          ios_firebase: ${{ secrets.IOS_FIREBASE }}
          android_firebase: ${{ secrets.ANDROID_FIREBASE }}
          dart_firebase: ${{ secrets.DART_FIREBASE }}
      - name: Run build script
        id: build
        uses: ./.github/actions/build_android
        if: runner.os == 'Linux'
        with:
          version: ${{ steps.version.outputs.version }}
          build-number: ${{ steps.version.outputs.build-number }}

          android-key-jks: ${{ secrets.ANDROID_KEY_JKS }}
          android-key-properties: ${{ secrets.ANDROID_KEY_PROPERTIES }}
          android-keystore-password: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          android-key-password: ${{ secrets.ANDROID_KEY_PASSWORD }}

          sentry-dsn: ${{ secrets.SENTRY_DSN }}
      - name: Build IOS / Upload Beta
        if: github.event_name == 'push'
        run: bash ${GITHUB_WORKSPACE}/Scripts/fastlane.sh
        working-directory: Scripts
        env:
          VERSION: ${{ steps.version.outputs.version }}
          BUILD_NUMBER: ${{ steps.version.outputs.build-number }}
          GOOGLE_SECRETS: ${{ secrets.GOOGLE_SECRETS }}
          APPLE_SECRETS: ${{ secrets.APPLE }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.FASTLANE_GITHUB }}
          MATCH_PASSWORD: ${{ secrets.FASTLANE_MATCH_PASSWORD }}

          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      - name: Upload Dart/Flutter debug symbols
        run: dart pub global activate sentry_dart_plugin && dart pub global run sentry_dart_plugin
        if: github.event_name == 'push'
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_RELEASE: ${{ steps.version.outputs.version }}
          SENTRY_DIST: ${{ steps.version.outputs.build-number }}
