on:
  push:
    paths:
      - 'lib/Frontend/translation_string_definitions.dart'
jobs:
  build_android:
    name: Update Localization Files
    runs-on: ubuntu-latest
    permissions: # Job-level permissions configuration starts here
      contents: write           # 'write' access to repository contents
      pull-requests: write      # 'write' access to pull requests
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.0'
          cache: true
      - name: Install packages
        run: flutter config --no-cli-animations && flutter pub get
      - name: Generate intl_translation
        run: dart pub global activate intl_translation && dart pub global run intl_translation:extract_to_arb --locale=en --output-file='./lib/l10n/messages_en.arb' ./lib/Frontend/translation_string_definitions.dart
      - name: Stage Changes
        run: git config user.email "github-actions[bot]@users.noreply.github.com" && git config user.name "github-actions[bot]" && git commit -am "Update EN language file"
      - name: Push changes
        uses: ad-m/github-push-action@master